name: DevSecOps Pipeline

on:
  push:
    branches: ["main"]

jobs:

  # ---------------- 1. Checkout Code ----------------
  checkout:
    runs-on: self-hosted
    outputs:
      workspace: ${{ steps.set_workspace.outputs.workspace }}
    steps:
      - name: Checkout Code
        id: set_workspace
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
        run: echo "::set-output name=workspace::${GITHUB_WORKSPACE}"

  # ---------------- 2. SonarQube Scan ----------------
  sonar_scan:
    runs-on: self-hosted
    needs: checkout
    steps:
      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        with:
          args: >
            -Dsonar.projectKey=wanderlust
            -Dsonar.projectName=wanderlust
            -Dsonar.sources=.

  # ---------------- 3. SonarQube Quality Gate ----------------
  quality_gate:
    runs-on: self-hosted
    needs: sonar_scan
    steps:
      - name: SonarQube Quality Gate
        uses: sonarsource/sonarqube-quality-gate-action@master
        timeout-minutes: 3
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

  # ---------------- 4. OWASP Dependency Check ----------------
  dependency_check:
    runs-on: self-hosted
    needs: quality_gate
    steps:
      - name: OWASP Dependency Check
        uses: dependency-check/Dependency-Check_Action@v3.1.2
        with:
          project: "wanderlust"
          path: "."

  # ---------------- 5. Trivy Scan ----------------
  trivy_scan:
    runs-on: self-hosted
    needs: dependency_check
    steps:
      - name: Install Trivy
        run: |
          sudo apt-get update -y
          sudo apt-get install -y wget
          wget https://aquasecurity.github.io/trivy-repo/deb/trivy_0.50.2_Linux-64bit.deb
          sudo dpkg -i trivy_0.50.2_Linux-64bit.deb

      - name: Trivy File System Scan
        run: trivy fs --format table -o trivy-fs-report.html .

  # ---------------- 6. Deploy Using Docker Compose ----------------
  deploy:
    runs-on: self-hosted
    needs: trivy_scan
    steps:
      - name: Deploy Using Docker Compose
        run: |
          docker compose down
          docker compose up -d --build
