name: DevSecOps Pipeline

on:
  push:
    branches: ["main"]

jobs:
  sonar_scan:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: SonarQube Scan (Docker)
        run: |
          docker run --rm \
            -e SONAR_HOST_URL=${{ secrets.SONAR_HOST_URL }} \
            -e SONAR_LOGIN=${{ secrets.SONAR_TOKEN }} \
            -v ${{ github.workspace }}:/usr/src \
            sonarsource/sonar-scanner-cli \
            -Dsonar.projectKey=wanderlust \
            -Dsonar.projectName=wanderlust \
            -Dsonar.sources=/usr/src

  quality_gate:
    runs-on: self-hosted
    needs: sonar_scan
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: SonarQube Quality Gate
        uses: sonarsource/sonarqube-quality-gate-action@master
        with:
          scanMetadataReportFile: .scannerwork/report-task.txt
          pollingTimeoutSec: 300
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

  dependency_check:
    runs-on: self-hosted
    needs: quality_gate
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: OWASP Dependency Check
        uses: dependency-check/Dependency-Check_Action@v3.1.2
        with:
          project: "wanderlust"
          path: "."

  trivy_scan:
    runs-on: self-hosted
    needs: dependency_check
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Trivy
        run: |
          sudo apt-get update -y
          sudo apt-get install -y wget
          wget https://aquasecurity.github.io/trivy-repo/deb/trivy_0.50.2_Linux-64bit.deb
          sudo dpkg -i trivy_0.50.2_Linux-64bit.deb

      - name: Trivy File System Scan
        run: trivy fs --format table -o trivy-fs-report.html .

  deploy:
    runs-on: self-hosted
    needs: trivy_scan
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy Using Docker Compose
        run: |
          docker compose down
          docker compose up -d --build
